{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/four/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/three/css/bootstrap.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin.css' %}">
<style type="text/css">
    #bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
</style>

{% include 'nav.html' %}

<body id="bg" style="background-image: url('{% static "img/white 1.jpg"%}');">


<div class="col-sm-12" style="padding-top: 60px">
<div id="content">
    <div class="col-sm-12">

<center><h1 style="color: #250CFF">Best Online Education Service In Kenya</h1></center>



<center><img src="{% static "img/student 2.jpg" %}" alt="moses" class="card-img-top"></center>



<center><h1 style="color: #250CFF">We Make Things Happen For You</h1></center>
<br>
<br>


<div class="row">
    <div class="col-sm-4"></div>
<center><h2 style="color: #FF5300">Our Head of Departments</h2></center>   
</div>

<div class="row"> 
    <div class="col-sm-3">

      <div class="card">
        <img src="{% static "img/Fondo.PNG" %}" alt="Fondo" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Fondo Rashid, C.E.O of  & Founder </h5>
                        <p class="card-text">Fondo Rashid is very passionate about education, experienced in online learning.</p>

                    </div>
                </div> 

    </div> 
      <div class="col-sm-3"> 
          <div class="card">
        <img src="{% static "img/Chai.PNG" %}" alt="Chai" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Chai Mwalimu, Curriculum Development Director</h5>
                        <p class="card-text">Bachelor in Education, skilled in designing engaging online learning experiences.</p>
                    </div>
                </div> 
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img src="{% static "img/Mwanaisha.PNG" %}" alt="Mwanaisha" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Mwanaisha Yunus, Chief Technology Officer,</h5>
                        <p class="card-text">Bachelor in Education,
                            passionate in building secure and user-friendly online learning platforms.
                            </p>
                    </div>
                </div> 
        
    </div> 

     <div class="col-sm-3"> 
          <div class="card">
        <img src="{% static "img/Hilton.PNG" %}" alt="Hilton" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hilton Chula, Marketing and Outreach Manager</h5>
                        <p class="card-text">Diploma in Education skilled in digital marketing and building strong community relationships.</p>
                    </div>
                </div> 
    </div>

</div>



      
        
                </div>


<style type="text/css">
    #footer {
    position: absolute;
    height: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
</style>                

          
            </div>

 <div class="row bg-dark" style="padding-top: 80px">           
<div class="fixed-bottom" id="footer">
    <center><p style="color: white">Powered by Boolerz Ltd ©2024</p></center>
</div>
</div>


        </div>









  
    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>





</body>
</html>


